.body {
  background-color: white; }

@media only screen and (max-width: 600px) {
  .text-block {
    animation: fadeInDown;
    animation-duration: 4s;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Fuggles';
    font-size: 2.5rem;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    bottom: 20%;
    right: 2%; }
  .text-center {
    animation: fadeInDown;
    animation-duration: 4s;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Fuggles';
    font-size: 2.5rem;
    font-weight: bolder;
    font-style: italic;
    bottom: 15%;
    right: 17%; } }

@media only screen and (max-width: 600px) and (min-width: 600px) {
  .text-block {
    animation: fadeInDown;
    animation-duration: 4s;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Fuggles';
    font-size: 4.0rem;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    bottom: 20%;
    right: 2%; }
  .text-center {
    animation: fadeInDown;
    animation-duration: 4s;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Fuggles';
    font-size: 4.0rem;
    font-weight: bolder;
    font-style: italic;
    bottom: 25%;
    right: 23%; } }

h1, h2, h3 {
  color: red;
  font-family: 'Cinzel'; }

h1 {
  text-align: center;
  font-size: xx-large;
  margin-top: 0%;
  margin-bottom: 0%; }

h2 {
  font-size: x-large; }

h3 {
  font-size: large; }

h4 {
  margin-top: 2rem;
  font-size: large;
  color: white; }

h5 {
  font-size: large;
  color: #a33030;
  font-family: Cinzel; }

@media only screen and (max-width: 600px) {
  #inicio {
    animation: fadeInDown;
    animation-duration: 3s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 10%; }
  #brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 35%;
    animation: fadeInDown;
    animation-duration: 3s; }
    #brand p {
      color: red;
      font-size: small;
      font-family: sans-serif; }
  #logo {
    width: 45%;
    height: 10%; }
  .button {
    background-color: white;
    border: none;
    color: red;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 1px;
    transition-duration: 0.4s;
    cursor: pointer; }
  .button:hover {
    color: #630707; } }

@media only screen and (min-width: 600px) {
  #inicio {
    animation: fadeInDown;
    animation-duration: 3s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 10%; }
  #brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 40%;
    animation: fadeInDown;
    animation-duration: 3s; }
    #brand p {
      color: red;
      font-size: small;
      font-family: sans-serif; }
  #logo {
    width: 50%;
    height: 15%; }
  .button {
    background-color: white;
    border: none;
    color: red;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1px;
    transition-duration: 0.4s;
    cursor: pointer; }
  .button:hover {
    color: #630707; } }

@media only screen and (min-width: 1024px) {
  #inicio {
    animation: fadeInDown;
    animation-duration: 3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%; }
  #brand {
    animation: fadeInDown;
    animation-duration: 3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 60%; }
    #brand p {
      color: red;
      font-size: small;
      font-family: sans-serif; }
    #brand #logo {
      width: 55%;
      height: 20%; }
    #brand .nav-item {
      background-color: white; }
    #brand .button:hover {
      color: white;
      text-decoration: none;
      background-color: red;
      padding: 10px 15px;
      border: none;
      text-align: center; }
    #brand .button {
      background-color: red;
      border: none;
      color: white;
      padding: 12px 22px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 1px;
      transition-duration: 0.4s;
      cursor: pointer; } }

@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 25%;
    padding-top: 5%;
    background-color: red; }
  #redesSociales {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .listaFooter {
    list-style: none;
    color: white; }
  .redes {
    width: 45px;
    height: 45px;
    padding-bottom: 5%; }
  .redSocial {
    display: flex;
    align-items: center; } }

@media only screen and (min-width: 600px) {
  footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    padding-top: 5%;
    background-color: red; }
  #redesSociales {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .listaFooter {
    list-style: none;
    color: white; }
  .redes {
    width: 50px;
    height: 50px;
    padding-bottom: 5%; }
  .redSocial {
    display: flex;
    align-items: flex-start; } }

@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    padding-top: 2%;
    background-color: red; }
  #redesSociales {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .listaFooter {
    list-style: none;
    color: white; }
  .redes {
    width: 50px;
    height: 50px;
    padding-bottom: 5%; }
  .redSocial {
    display: flex;
    align-items: flex-start; } }

@media only screen and (max-width: 600px) {
  .textIntro {
    margin-top: 5%;
    text-align: justify; }
  .imgCarrusel {
    width: 100%;
    height: 80%; }
  #mainArea {
    margin-bottom: 5%;
    text-align: justify; }
  .contenedor {
    position: relative; }
  .img-fluid {
    margin-bottom: 5%;
    margin-top: 5%; }
  .imgCasa {
    width: 100%;
    height: 50%;
    margin-bottom: 5%; }
  .mainRooms p {
    margin-bottom: 5%;
    text-align: justify; }
  .sabores {
    margin-bottom: 5%;
    text-align: justify; }
  .diningSet {
    width: 100%;
    height: 50%;
    margin-bottom: 5%; }
  .imgLlave {
    width: 100%;
    height: 50%; }
  #form {
    background-color: red;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%; }
  .formulario {
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-top: 2%; }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; }
  input[type=text], input[type=email], textarea {
    background-color: red;
    color: white; }
  select {
    background-color: red;
    color: white; } }

@media only screen and (min-width: 600px) {
  .textIntro {
    margin-top: 5%;
    text-align: justify; }
  .imgCarrusel {
    width: 100%;
    height: 80%; }
  #mainArea {
    margin-bottom: 5%;
    text-align: justify; }
  .imgCasa {
    width: 100%;
    height: 50%;
    margin-bottom: 5%; }
  .img-fluid {
    margin-bottom: 5%;
    margin-top: 5%; }
  .contenedor {
    position: relative; }
  .mainRooms {
    margin-bottom: 5%;
    text-align: justify; }
  .sabores {
    margin-bottom: 5%;
    text-align: justify; }
  .diningSet {
    width: 100%;
    height: 50%;
    margin-bottom: 5%; }
  .imgLlave {
    width: 100%;
    height: 50%; }
  #form {
    background-color: red;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%; }
  .formulario {
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-top: 2%; }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; }
  input[type=text], input[type=email], textarea {
    background-color: red;
    color: white; }
  select {
    background-color: red;
    color: white; } }

@media only screen and (min-width: 1024px) {
  .textIntro {
    margin-top: 15%;
    text-align: justify; }
  .imgCarrusel {
    width: 100%;
    height: 80%; }
  .img-fluid {
    margin-bottom: 5%;
    margin-top: 5%; }
  .imgCasa {
    width: 100%;
    height: 50%;
    margin-bottom: 5%; }
  .contenedor {
    position: relative; }
  #mainArea {
    margin-bottom: 5%;
    text-align: justify; }
  .mainRooms p {
    margin-bottom: 5%;
    text-align: justify; }
  .diningSet {
    width: 100%;
    height: 50%;
    margin-bottom: 5%; }
  .sabores {
    margin-bottom: 5%;
    text-align: justify; }
  .imgLlave {
    width: 100%;
    height: 50%; }
  .formulario {
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-top: 2%; }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; }
  input[type=text], input[type=email], textarea {
    background-color: red;
    color: white; }
  select {
    background-color: red;
    color: white; }
  .text-block {
    animation: fadeInDown;
    animation-duration: 4s;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Fuggles';
    font-size: 6.0rem;
    font-weight: bolder;
    font-style: italic;
    bottom: 47%;
    right: 17%; }
  .text-center {
    animation: fadeInDown;
    animation-duration: 4s;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Fuggles';
    font-size: 6.0rem;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    bottom: 30%;
    right: 35%; } }
