@mixin texto {
    position: absolute;
    text-align: center;
    color: white;
    font: {
        family: 'Fuggles';
        size: 6.0rem;
        weight: bolder;
        style: italic;
    }
}

@mixin sizes {
    width: 100%;
    height: 50%;
}

@mixin animation {
    animation: fadeInDown;
    animation-duration: 4s; 
}
