@import "body";
@import "generales";
@import "header";
@import "mixins";
@import "footer";


@media only screen and (max-width: 600px) {

    // Index

    .textIntro {
        margin-top: 5%;
        text-align: justify;
    }
    
    .imgCarrusel {
        width: 100%;
        height: 80%;
    }

    // Fin del index

    // Area

    #mainArea {
        margin-bottom: 5%;
        text-align: justify;
    }

    .contenedor {
        position: relative;
    }

    .img-fluid {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .imgCasa {
        width: 100%;
        height: 50%;
        margin-bottom: 5%;
    }
    // Fin del Area

    // Habitaciones

    .mainRooms p {
        margin-bottom: 5%;
        text-align: justify;  
    }
    // Fin de habitaciones

    // Menú

    .sabores {
        margin-bottom: 5%;
        text-align: justify;
    }

          
    .diningSet {
        width: 100%;
        height: 50%;
        margin-bottom: 5%;
    }

    // Fin del Menú

    // Reservas

    .imgLlave {
        width: 100%;
        height: 50%;
    }

    
    #form {
        background-color: red;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    
    .formulario {        
        color: black;
        margin-bottom:10px;
        display: flex;
        justify-content: center;
        padding:5%;
        margin-top: 2%;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: red;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
           } 
           
    input[type=text], input[type=email], textarea {
        background-color: red;
        color: white;
    }

    select {
        background-color: red;
        color: white;
    }
    // Fin del Reservas
}    

@media only screen and (min-width: 600px) {

    // Index
    
    .textIntro {
        margin-top: 5%;
        text-align: justify;
    }

    .imgCarrusel {
        width: 100%;
        height: 80%;
    }
    // Fin del index

    // Área

    #mainArea {
        margin-bottom: 5%;
        text-align: justify;
    }
    
    .imgCasa {
        width: 100%;
        height: 50%;
        margin-bottom: 5%;
    }

    .img-fluid {
        margin-bottom: 5%;
        margin-top: 5%;
    }
    
    .contenedor {
        position: relative;
    }

    // Fin del Área

    // Habitaciones

    .mainRooms {
        margin-bottom: 5%;
        text-align: justify;  
    }

    // Fin de habitaciones

    // Menú

    .sabores {
        margin-bottom: 5%;
        text-align: justify;
    }

    .diningSet {
        width: 100%;
        height: 50%;
        margin-bottom: 5%;
    }

    // Fin del menú

    // Reservas

    .imgLlave {
        width: 100%;
        height: 50%;
    }

    #form {
        background-color: red;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .formulario {        
        color: black;
        margin-bottom:10px;
        display: flex;
        justify-content: center;
        padding:5%;
        margin-top: 2%;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: red;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
           } 
           
    input[type=text], input[type=email], textarea {
        background-color: red;
        color: white;
    }

    select {
        background-color: red;
        color: white;
    }
    // Fin de reservas
}    

@media only screen and (min-width: 1024px) {

    // Index

    .textIntro {
        margin-top: 15%;
        text-align: justify;
    }

    .imgCarrusel {
        width: 100%;
        height: 80%;
    }

    // Fin del index

    // Área

    .img-fluid {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .imgCasa {
        @include sizes;
        margin-bottom: 5%;
    }
 
     .contenedor {
        position: relative;
    }

    #mainArea {
        margin-bottom: 5%;
        text-align: justify;
    }

//    Fin del Área

    // Habitaciones    

    .mainRooms p {
        margin-bottom: 5%;
        text-align: justify;  
    }

    // Menú

    .diningSet {
        @include sizes;
        margin-bottom: 5%;
    }

    .sabores {
        margin-bottom: 5%;
        text-align: justify;
    }

    // Fin de Menú

    // Reservas
     
    .imgLlave {
        @include sizes;
    }
    
    .formulario {        
        color: black;
        margin-bottom:10px;
        display: flex;
        justify-content: center;
        padding:5%;
        margin-top: 2%;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: red;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
           } 
           
    input[type=text], input[type=email], textarea {
        background-color: red;
        color: white;
    }

    select {
        background-color: red;
        color: white;
    }
    // Fin de Reservas

              
    .text-block {
        @include animation;
        position: absolute;
        text-align: center;
        color: white;
        font: {
            family: 'Fuggles';
            size: 6.0rem;
            weight: bolder;
            style: italic;
        }
        bottom: 47%;
        right: 17%;
    }

    .text-center {
        @include animation;
        position: absolute;
        text-align: center;
        color: white;
        font: {
            family: 'Fuggles';
            size: 6.0rem;
            weight: bolder;
            style: italic;
        }
        text-align: center;
        bottom: 30%;
        right:35%;
    }
}

